@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-gray-900;
  }
}

@layer components {
  .scrollbar-custom::-webkit-scrollbar {
    width: 8px;
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    @apply bg-transparent rounded-lg;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    @apply bg-gray-300 rounded-lg hover:bg-gray-400 transition-colors;
  }

  .scrollbar-custom {
    scrollbar-width: thin;
    scrollbar-color: #D1D5DB transparent;
  }
}